basemap-data==1.3.2==pyhd8ed1ab_3
basemap-data-hires==1.3.2==pyhd8ed1ab_3
ca-certificates==2024.8.30==h56e8100_0
openssl==3.4.0==h2466b09_0
pip==24.2==py39haa95532_0
python==3.9.19==h1aa4202_1
sqlite==3.45.3==h2bbff1b_0
ucrt==10.0.22621.0==h57928b3_1
vc==14.40==h2eaa2aa_0
vc14_runtime==14.42.34433==he29a5d6_23
vs2015_runtime==14.42.34433==hdffcdeb_23
wheel==0.43.0==py39haa95532_0
absl-py==2.1.0
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
asttokens==2.4.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
crcmod==1.7
cryptography==43.0.1
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.14.0
fonttools==4.53.1
fsspec==2024.2.0
grpcio==1.66.1
idna==3.10
imgcrop==0.1.0
importlib-metadata==8.4.0
importlib-resources==6.4.5
ipykernel==6.29.5
ipython==8.18.1
jedi==0.19.1
jinja2==3.1.3
jmespath==0.10.0
jupyter-client==8.6.2
jupyter-core==5.7.2
kiwisolver==1.4.7
markdown==3.7
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
model-index==0.1.11
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.3
onnx==1.16.2
opencv-python==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.1
ordered-set==4.1.0
oss2==2.17.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pillow==10.2.0
platformdirs==4.2.2
prompt-toolkit==3.0.47
protobuf==5.28.2
psutil==6.0.0
pure-eval==0.2.3
pycparser==2.22
pycryptodome==3.20.0
pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-graphviz==0.20.3
pytz==2023.4
pywin32==306
pyyaml==6.0.2
pyzmq==26.2.0
requests==2.28.2
rich==13.4.2
scipy==1.13.1
setuptools==60.2.0
six==1.16.0
spyder-kernels==2.5.2
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
torch==2.4.1+cu124
torchaudio==2.4.1+cu124
torchvision==0.19.1+cu124
torchviz==0.0.2
tornado==6.4.1
tqdm==4.65.2
traitlets==5.14.3
typing-extensions==4.9.0
tzdata==2024.2
urllib3==1.26.20
wcwidth==0.2.13
werkzeug==3.0.4
zipp==3.20.1